<div class="modal-header">
  <div class="modal-title">{{record ? '编辑' : '新建'}}</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>

<div *ngIf="i">
  <form nz-form [formGroup]="validateForm">
    <input nz-input hidden formControlName="id"/>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="20">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" nzFor="pid">父级</nz-form-label>
          <nz-form-control [nzSpan]="16">
            <nz-tree-select
              style="width: 100%"
              [nzNodes]="deptOptionList"
              nzShowSearch
              nzPlaceHolder="请选择父级，缺省为一级部门"
              formControlName="pid">
            </nz-tree-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div nz-col [nzSpan]="20">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" nzRequired>名称</nz-form-label>
          <nz-form-control [nzSpan]="16" nzHasFeedback nzErrorTip="名称必填！">
            <input nz-input formControlName="name" placeholder="部门名称"/>
          </nz-form-control>
        </nz-form-item>
      </div>

    </div>
  </form>

</div>

<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
  <button nz-button type="submit" nzType="primary" (click)="submitForm(validateForm.value)"
          [disabled]="!validateForm.valid" [nzLoading]="http.loading">保存
  </button>
</div>


