<div class="modal-header">
  <div class="modal-title">查看 {{ record.name }} 信息</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<nz-tabset *ngIf="i" [nzTabPosition]="'left'" [nzType]="'line'">
  <nz-tab nzTitle="基础信息">
    <div sv-container>
      <sv label="ID">{{ i.id }}</sv>
      <sv label="唯一标识">{{ i.identify }}</sv>
      <sv label="名称">{{ i.name }}</sv>
      <sv label="描述" [col]="2">{{ i.description }}</sv>
      <sv label="创建时间" [col]="2">{{ i.created_at | date: 'yyyy-MM-dd HH:mm:ss' }}</sv>
      <sv label="最后更新时间" [col]="2">{{ i.updated_at | date: 'yyyy-MM-dd HH:mm:ss' }}</sv>
    </div>
  </nz-tab>
  <nz-tab nzTitle="权限策略" *ngIf="rolePolicies">
    <ng-container *ngFor="let rolePolicy of rolePolicies">
      <nz-tag [nzColor]="rolePolicy.color" style="margin-bottom: 12px;">{{ rolePolicy.name + '[' + rolePolicy.identify + ']' }}</nz-tag>
    </ng-container>
  </nz-tab>
  <nz-tab nzTitle="可见菜单" *ngIf="roleMenus">
    <nz-tree #nzTreeComponent [nzData]="roleMenus" nzShowIcon></nz-tree>
  </nz-tab>
</nz-tabset>

<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
