<div class="modal-header">
  <div class="modal-title">审核</div>
</div>

<form nz-form [formGroup]="validateForm">
  <input nz-input hidden formControlName="id"/>
  <div nz-row [nzGutter]="24">

    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired nzFor="action">操作</nz-form-label>
        <nz-form-control [nzSpan]="16" nzHasFeedback nzErrorTip="路由名称必填！">
          <nz-radio-group formControlName="action">
            <label nz-radio nzValue="pass">通过</label>
            <label nz-radio nzValue="reject">驳回</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="20">
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzFor="description">
          备注
        </nz-form-label>
        <nz-form-control [nzSpan]="16">
          <textarea nz-input rows="5" placeholder="审核备注..." formControlName="remarks"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>
</form>

<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
  <button nz-button type="submit" nzType="primary" (click)="submitForm(validateForm.value)"
          [disabled]="!validateForm.valid"
          [nzLoading]="http.loading">保存
  </button>
</div>
